* {
    box-sizing:border-box;
}
.showcase{
    position:absolute;
    right:0;
    width:100%;
    min-height:100vh;
    background-color: black;
    color:white;
    z-index:2;
}

.showcase video {
    position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit: cover;
opacity: 0.7;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgb(252,250,250);
    mix-blend-mode:overlay;
}

.showcase header{
    position:absolute;
    top:0;
    left:0;
}

.middle{
    position:relative;
    z-index:2;
}


.text{
    position:relative;
    z-index: 100;
}

.header{
    margin:100px;
    position:relative;
    z-index:100;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    color:white;
}


a{
    text-decoration:none;
   
}

a:hover{
    letter-spacing:2px;
}
.rightheader{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

.dropdown{
    position:relative;
}

.dropdown-menu{
    position:absolute;
    padding:10px;
    background-color:gray;
    border-radius:.25rem;
    box-shadow: 0 2px 5px 0 rgba(255, 230, 230, 0.1);
    opacity:0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(0px);
    pointer-events:none;
}

.dropdown-menu.active{
    opacity:1;
    transform: translateY(10px);
}
/* below is a selector that will be replaced by JS- only for testing purposes */
.dropdown>.link:focus+.dropdown-menu{
    opacity:1;
    transform: translateY(0);
    pointer-events:auto;
}

.dropdown > .link:focus,
.link:hover{
    color:black;
}

.middle{
    display:flex;
    padding:30px;
    justify-content: center;
    gap:40px;
}